<div class="contenedor">

    
    <header>
        <h1>Mensaje Bienvenida IESS</h1>    
    </header>
    <body>
        <div class="galeria">
            <img  class="img-bienvenida" src="../../../../../assets/demo/images//blocks//logos/logo_iess.png" alt="">
            <img  class="img-bienvenida" src="../../../../../assets/demo/images//blocks//logos/logo_iess.png" alt="">
            
        </div>
        

        

        
        
        
    </body>

    <footer>


    </footer>
    

    
    
</div>

<style>

.p-button-rounded{
    
  padding: 50px; 
}

.contenedor{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.galeria{
    
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.img-bienvenida{
    width: 70%;
    
}
</style>
