

<body>
    <div class="layout-topbar">
        <a class="layout-topbar-logo" routerLink="">
            <img  src="../../assets/demo/images/blocks/logos/logo_iess.png" alt="logo">
            <span></span>
        </a>
    
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
    
        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>
    
        
        <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

            <div >
                <span class="p-input-icon-right layout-topbar-menu">
                    <input type="text" pInputText placeholder="Search"/>
                    <i class="pi pi-search"></i>
                </span>
            </div>
            <button class="boton" (click)="login()">
                <i class="pi pi-sign-in" ></i>
                <span  >Iniciar Sesión</span>
            </button>

            <button (click)="login()">test</button>
            
            
        </div>
    </div>
    
</body>

<style>

.boton{
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #3F51B5;
        color: white;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boton:hover{
        background-color: #2A3F9D;
    }
</style>

